html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin:0;
  padding:0;
  border:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display:block
}
body {
  line-height:1;
}
ol,ul {
  list-style:none
}
a:hover {
  text-decoration: none;
}
/* css reset */
/* nav start */
.nav {
  width: 100%;
  position: absolute;
  text-align: center;
  opacity: 0.6;
}
.nav a {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 30px;
  padding: 60px 0;
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
  -ms-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}
.nav .about:hover {
  color: #95a5a6;
}
.nav .works:hover {
  color: #27ae60;
}
.nav .skill:hover {
  color: #2980b9;
}
.nav .contact:hover {
  color: #c0392b;
}
.back-home a.home-a {
  width: 100px;
  height: 100px;
  padding: 0;
  position: relative;
  left: -50px;
  top: 30px;
  margin-left: 50%;
  background-image: url(../images/avatar.jpg);
  text-indent: -999px;
  border-radius: 50%;
  border: 4px solid #fff;
}
a:focus,
a:hover {
  text-decoration: none;
}
/* nav end */
.home {
  width: 100%;
  height: 100vh;
  background-image: url('../images/home-bg.jpg');
  background-size: cover;
}
.wrap {
  width: 100%;
  height: 100vh;
  position: relative;
}
.content-section {
  position: relative;
  top: 220px;
}
.content-section p {
  color: #fff;
  font-size: 30px;
  text-align: center;
}
.content-section p.welcome {
  margin: 60px 0;
}
.home .scroll-tip {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url('../images/arrow.png');
  position: absolute;
  left: -30px;
  bottom: 40px;
  margin-left: 50%;
  cursor: pointer;
  /* 缩放 */
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  /* 过渡效果 */
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.home .scroll-tip:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/* home end */
.wrap.about {
  position: relative;
  background-image: url('../images/bg-tile.png');
}
.about-section {
  width: 960px;
  position: relative;
  top: 185px;
}
.about-section .left-span {
  margin-left: 350px;
}
/* 图标效果 */
.bio-icon {
  opacity: 0;
  -webkit-animation: bio-icon-in .6s ease-out .7s 1 forwards;
  -moz-animation: bio-icon-in .6s ease-out .7s 1 forwards;
  -ms-animation: bio-icon-in .6s ease-out .7s 1 forwards;
  -o-animation: bio-icon-in .6s ease-out .7s 1 forwards;
  animation: bio-icon-in .6s ease-out .7s 1 forwards;
}
.bio-icon-2 {
  -webkit-animation: bio-icon-in .6s ease-out 1s 1 forwards;
  -moz-animation: bio-icon-in .6s ease-out 1s 1 forwards;
  -ms-animation: bio-icon-in .6s ease-out 1s 1 forwards;
  -o-animation: bio-icon-in .6s ease-out 1s 1 forwards;
  animation: bio-icon-in .6s ease-out 1s 1 forwards;
}
.bio-icon-3 {
  -webkit-animation: bio-icon-in .6s ease-out 1.3s 1 forwards;
  -moz-animation: bio-icon-in .6s ease-out 1.3s 1 forwards;
  -ms-animation: bio-icon-in .6s ease-out 1.3s 1 forwards;
  -o-animation: bio-icon-in .6s ease-out 1.3s 1 forwards;
  animation: bio-icon-in .6s ease-out 1.3s 1 forwards;
}
@-webkit-keyframes bio-icon-in {
  0% {
    -webkit-transform: rotate(-60deg);
    margin-left: -30px;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotate(0deg);
    margin-left: 0px;
    opacity: 1;
  }
}
@-moz-keyframes bio-icon-in {
  0% {
    -moz-transform: rotate(-60deg);
    margin-left: -30px;
    opacity: 0;
  }

  100% {
    -moz-transform: rotate(0deg);
    margin-left: 0px;
    opacity: 1;
  }
}
@keyframes bio-icon-in {
  0% {
    transform: rotate(-60deg);
    margin-left: -30px;
    opacity: 0;
  }

  100% {
    transform: rotate(0deg);
    margin-left: 0px;
    opacity: 1;
  }
}
/* 文字效果 */
.bio-text {
  opacity: 0;
  -webkit-animation: bio-text-in .6s ease-out .7s 1 forwards;
  -moz-animation: bio-text-in .6s ease-out .7s 1 forwards;
  -ms-animation: bio-text-in .6s ease-out .7s 1 forwards;
  -o-animation: bio-text-in .6s ease-out .7s 1 forwards;
  animation: bio-text-in .6s ease-out .7s 1 forwards;
}
.bio-text-2 {
  opacity: 0;
  -webkit-animation: bio-text-in .6s ease-out 1s 1 forwards;
  -moz-animation: bio-text-in .6s ease-out 1s 1 forwards;
  -ms-animation: bio-text-in .6s ease-out 1s 1 forwards;
  -o-animation: bio-text-in .6s ease-out 1s 1 forwards;
  animation: bio-text-in .6s ease-out 1s 1 forwards;
}
.bio-text-3 {
  opacity: 0;
  -webkit-animation: bio-text-in .6s ease-out 1.3s 1 forwards;
  -moz-animation: bio-text-in .6s ease-out 1.3s 1 forwards;
  -ms-animation: bio-text-in .6s ease-out 1.3s 1 forwards;
  -o-animation: bio-text-in .6s ease-out 1.3s 1 forwards;
  animation: bio-text-in .6s ease-out 1.3s 1 forwards;
}
@keyframes bio-text-in {
  0% {
    transform: translate(500px, 0);
    margin-left: -30px;
    opacity: 0;
  }

  100% {
    transform: translate(50px, 0);
    margin-left: 0px;
    opacity: 1;
  }
}
.about .scroll-tip {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url('../images/arrow.png');
  background-position: 0 -60px;
  position: absolute;
  left: -24px;
  bottom: 40px;
  margin-left: 50%;
  cursor: pointer;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.about .scroll-tip:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/* about end */
#works {
  background: #27ae60;
}
.works-section {
  position: relative;
  top: 112px;
  width: 960px;
  margin: 0 auto;
}
.works-section .container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.works-section .work-demo {
  width: 300px;
  height: 180px;
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.works-section .work-demo.first {
  margin-left: 0;
}
.works-section .work-demo img,
.works-section .work-info{
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.works-section .work-demo:hover img{
  transform: scale(1.5);
  overflow: hidden;
}
.works-section .work-demo:hover .work-info{
  top: 0;
}
.work-info {
  width: 300px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 137px;
  padding: 10px;
  color: #fff;
}
.work-info h2{
  font-size: 21px;
  margin-bottom: 20px;
}
.work-info strong {
  display: inline-block;
  margin-bottom: 5px;
}
.more-link {
  color: #fff;
  display: block;
  padding: 10px 20px;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  background: #3d3d3d;
  background: rgba(0,0,0,0.6)
}
.more-link:hover {
  color: #fff;
  background: #3d3d3d;
  background: rgba(0,0,0,0.4)
}
#works .scroll-tip {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url('../images/arrow.png');
  position: absolute;
  left: -24px;
  bottom: 40px;
  margin-left: 50%;
  cursor: pointer;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#works .scroll-tip:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/* works end */
#skill {
  background-color: #2980b9;
}
.skill-section {
  width: 960px;
  margin: 0 auto;
  position: relative;
  top: 98px;
}
#skill .scroll-tip {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url('../images/arrow.png');
  position: absolute;
  left: -24px;
  bottom: 40px;
  margin-left: 50%;
  cursor: pointer;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#skill .scroll-tip:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.skill-section h1 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 36px;
}
.skill-section ul {
  color: #fff;
}
.skill-section li {
  font-size: 18px;
  line-height: 2;
}
.fade {
  opacity: 0;
  position: relative;
  left: 10px;
}
.fade1 {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.fade2 {
  -webkit-transition: all 0.2s ease-in 0.2s;
  -moz-transition: all 0.2s ease-in 0.2s;
  -o-transition: all 0.2s ease-in 0.2s;
  -ms-transition: all 0.2s ease-in 0.2s;
  transition: all 0.2s ease-in 0.2s;
}
.fade3 {
  -webkit-transition: all 0.2s ease-in 0.4s;
  -moz-transition: all 0.2s ease-in 0.4s;
  -o-transition: all 0.2s ease-in 0.4s;
  -ms-transition: all 0.2s ease-in 0.4s;
  transition: all 0.2s ease-in 0.4s;
}
.fade4 {
  -webkit-transition: all 0.2s ease-in 0.6s;
  -moz-transition: all 0.2s ease-in 0.6s;
  -o-transition: all 0.2s ease-in 0.6s;
  -ms-transition: all 0.2s ease-in 0.6s;
  transition: all 0.2s ease-in 0.6s;
}
.fade-in.fade1,
.fade-in.fade2,
.fade-in.fade3,
.fade-in.fade4 {
  opacity: 1;
  left: 0;
}


